a, 
.active > a, 
.promo-box i.fa,
.cp-navbar.menu-bg ul li.active a,
.choose-box i.fa,
.navbar-brand,
.navbar-brand:hover,
.home-services .service-box i.fa,
.testimonial-area i.fa,
.switch-style:before,
.address-box i.fa,
i.fa,
.mainmenu .navbar-nav li.active a,
.contact-form .form-group:before,
.news-content .subtitle i.fa,
.service-box i.fa,
.newsletter-form .mc-submit:hover
{
    color: #77be2d;
}


.skill-progress-bar > span,
.accordion .panel-heading i.fa,
.btn, 
.cp-navbar .navbar-toggle .icon-bar,
.price-item.featured .info ,
.price-item.featured a.btn ,
.tabs-left > .nav-tabs > li,
#fun-facts,
.price-item a.btn,
#slider .carousel-indicators li.active, 
input[type='submit'],
.navbar-toggle .icon-bar,
.carousel-control img:hover,
.subscribe-area,
.newsletter-form .mc-submit,
.nav-tabs li a,
.project-item .figcaption,
.owl-buttons i.fa,
[class*=' imghvr-shutter-in-']:after, 
[class*=' imghvr-shutter-in-']:before, 
[class^=imghvr-shutter-in-]:after, 
[class^=imghvr-shutter-in-]:before,
.widget-search input[type="submit"],
.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover
{
    background-color: #77be2d;
}

#slider .carousel-indicators li.active,
.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
    border-color: #77be2d;
}